{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Доставка</title>
{% endblock %}

{% block background %}
    <div class="banner" id="p"><img src="{% static 'img/3.jpg' %}" alt="Image"></div>
{% endblock %}

{% block content %}
    <div class="cont" id="img">
        <h1> Доставка і оплата </h1>
        <h4><p><font color="#FFDEAD"> Доставка їжі не обмежена територіально! </font></p></h4>
        <ul>
            <li><p> Безкоштовна доставка їжі по Івано-Франківську без мінімальної суми замовлення.</p></li>
            <li><p> Час доставки від 60 до 90 хвилин.</p></li>
        </ul>
        <h2><p><font color="#CD853F"> Здійснення оплати </font></p></h2>
        <p>Для зручного замовлення страв ми подбали про різні способи оплати замовлень, які не тільки прості, але і
            допоможуть Вам заощадити Ваш час. </p>
        <p>Оплата може бути здійснена двома способами:</p>
        <ol>
            <li><p>Оплата кур'єру готівкою при отриманні замовлення;</p></li>
            <li><p>Оплата кур'єру за допомою банківської карти при отриманні замовлення;</p></li>
        </ol>
    </div>
{% endblock %}