{% extends 'base.html' %}

{% load static %}

{% block title %}
<title> Головна </title>
{% endblock %}

{% block background %}
<div class="banner" id="p"><img src="{% static 'img/1.jpg' %}" alt="Image"></div>
{% endblock %}

{% block content %}
<div class="content">
<p>

<h1> <em>  <font color="#FFEFD5">Доставка їжі в Івано-Франкіську цілодобово - Havka.if.ua </font></em> </h1> 

</p>


<p>Власне, що може бути легше, ніж зробити замовлення повертаючись додому після насиченого робочого дня або ж насолодитися смачненьким обідом одразу на робочому місці. Запас продуктів вичерпався, а шлунок вимагає власну порцію або ж до Вас несподівано приїхали гості? Доставка їжі в Івано-Франквську прийде на допомогу. Замовити можливо все - суші, піца, закуски, супи, гарніри та напої на любий смак! </p>


<p><font color="#FFDEAD">Доставка їжі здійснюється цілодобово в будь-який район міста!</font></p>

<p><font color="#E9967A">Ми гарантуємо Вам індивідуальний підхід та якісне обслуговування з кардинально новою концепцією, в яку входять:</font></p>
<ul>
  <li> <p> <font color="#E9967A">приготування смачних і корисних страв з цікавою подачею від наших шеф-кухарів;</font></p> </li> 
  <li> <p> <font color="#E9967A">використання тільки свіжих інгредієнтів, що постачаються в ресторан напряму від виробника;</font></p></li>
   <li> <p> <font color="#E9967A">відмова від барвників, консервантів та шкідливих хімічних добавок - ми використовуємо тільки натуральні складові страв;</font> </p></li>
  <li> <p> <font color="#E9967A">оперативна доставка обідів в будь-який район міста;</font> </p></li>
   <li> <p> <font color="#E9967A">приємні ціни на все меню;</font> </p></li>
   <li><p> <font color="#E9967A">уважний та ввічливий підхід до бажань кожного клієнта.</font></p></li>
</ul>
<p>Наша доставка смачної їжі цілодобово підходить на всі випадки життя - легкий перекус чи ситний обід, вечірні посиденьки з друзями або романтичну вечерю. </p>
</div>
{% endblock %}
</body>
</html>